/* 自定义短代码块字体修改在这里 */
code {
    color: #ee5421;
    
}

/* .markdown-body {
  line-height: 1rem;
} */

/* 短代码块设置 */
.markdown-body code { 
    font-size: 88%;
} 

/* 图片居中 */
.markdown-body img {
  margin: 0 auto;
  display: block;
}

/* 段间距缩小 */
.markdown-body p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.markdown-body li>p {
    margin-top: 0;
}

.markdown-body h2 {
  margin-top: 1.5em;
}

.markdown-body h3 {
  margin-top: 1.2em;
  font-size: 1.25em;
}

.markdown-body h4 {
  margin-top: 1.2em;
  font-size: 1.1em;
}

/* 引用最上方空隙 */
.markdown-body blockquote>:first-child {
    margin-top: 1em;
}

.markdown-body .highlight pre, .markdown-body pre {
    padding: 0.6rem 1rem;
    padding-top:  0.6rem;
    padding-right: 1rem;
    padding-bottom:  0.6rem;
    padding-left: 1rem;
}